{% extends "base.html" %}

{% block title %}{{ app_name }} | Conversation That Matters, When it Matters!{% endblock %}


{% block content %}


<div class="left_column">
Headlines:<span class="headlines"></span>
<script type="text/javascript">
    $(function()
    {
        var ul = $('<ul/>');
        $.ajax(
        {
            url: "http://api.espn.com/v1/sports/news/headlines",
            data: {
            apikey: "9cgrhgqctef87pn8j7x7fgyx",
            _accept: "application/json"
            },
            dataType: "jsonp",
            success: function(data)
            {
                var i = 0;
                $.each(data.headlines, function()
                {
                    if (i < 1)
                    {
                        var li = $('<li/>').text(this.headline);
                        ul.append(li)
                    }
                    i++;
                });

            }
         });
        $('.headlines').html(ul);
    })


    </script>
<br/>
<b>Top Stories</b>
<ul class="content_body">
    {% for article in articles %}
        {% autoescape off %}
            <div>
                <span class="date">{{ article.created_at|timesince}} ago</span>
                <div>
                    <a href="/story/{{article.id}}/" class="title">{{ article.title}}</a> <span class="views">{{ article.views }}</span>
                </div>
                {{ user.username }}
                <p>
                    <!--{% if article.image != "" %}
                        <img src="{{ article.image }}" class="article_image"/>
                    {% elif article.logo != "" %}
                        <img src="{{ article.logo }}" class="article_image"/>
                    {% else %}
                        None
                    {% endif %}!-->
                    {{ article.body|truncatewords:"50"}}
                    <span class="date">Source: {{ article.source }}</span>
                    <a href="/story/{{article.id}}/" class="read_more">[Read More]</a> &nbsp;
                    <a href="http://twitter.com/share?text={{ article.title }}&url=http://www.gistsquare.com/story/{{ article.id }}/&via=gistsquare" target="_blank" class="tweet_story">Tweet</a>
                    

                </p>
            </div>
        {% endautoescape %}
    {% endfor %}
</ul>
</div>

<div class="right_column">
    <b>Trends:</b><br>
    {% for trend in trends %}
        <div class="label-info">{{ trend }}</div>
    {% endfor %}

    <br><br>

    <div class="most_read">
        <b>Most Read News:</b><br>
        {% for stories in most_vied_stories %}
            <a href="/story/{{stories.id}}/" class="title_one" title="{{ stories.title}}">{{ stories.title|truncatewords:"3" }}</a><br/>
        {% endfor %}
    </div>



</div>
<div class="clear"></div>


<!--Links - Pagination!-->
<span class="step-links">

    <ul>
        {% for i in articles.paginator.page_range %}
            {% if articles.number == i %}
                <a href="?page={{ i }}"><li class="current">{{ i }}</li></a>
            {% else %}
                <a href="?page={{ i }}"><li>{{ i }}</li></a>
            {% endif %}
        {% endfor %}
    </ul>

</span>
<div class="clear"></div>

{% endblock %}

